In [1]:
import pandas as pd

df = pd.read_csv('Data.csv')

In [4]:
df.tail()

,Suburb,Address,Rooms,Type,Price,Date,SellerG,Distance,Bathroom,Car,Landsize,BuildingArea,YearBuilt,CouncilArea,Lattitude,Longtitude,Regionname,Propertycount
34851,Reservoir,18 Elinda Pl,3,u,475000.0,30/09/2017,Jas,12.0,1.0,1.0,NaN,105.0,1990.0,Darebin City Council,-37.69769,145.02332,Northern Metropolitan,21650.0
34852,Roxburgh Park,14 Stainsby Cr,4,h,591000.0,30/09/2017,Sweeney,20.6,2.0,2.0,NaN,225.0,1995.0,Hume City Council,-37.63665,144.92976,Northern Metropolitan,5833.0
34853,Springvale South,8 Bellbird Ct,4,h,NaN,30/09/2017,Jas,22.2,2.0,2.0,534.0,152.0,1970.0,Greater Dandenong City Council,-37.97037,145.15449,South-Eastern Metropolitan,4054.0
34854,Springvale South,30 Waddington Cr,3,h,780500.0,30/09/2017,hockingstuart,22.2,2.0,1.0,544.0,NaN,NaN,Greater Dandenong City Council,-37.97751,145.14813,South-Eastern Metropolitan,4054.0
34855,Westmeadows,42 Pascoe St,4,h,791000.0,30/09/2017,RW,16.5,2.0,6.0,813.0,140.0,1960.0,Hume City Council,-37.67631,144.89409,Northern Metropolitan,2474.0

Q. Finding Average and median prices of the houses in Melbourne

In [14]:
meanPrice = df['Price'].mean().round()
medianPrice = df['Price'].median()

print("Mean: ", meanPrice)
print("Median: ", medianPrice)

Mean:  1050173.0
Median:  870000.0

Q. What are the top 3 most expensive suburbs to buy a house?

In [16]:
prices_per_suburb = df.groupby(['Suburb'])['Price'].mean().round()
prices_per_suburb

Suburb
Abbotsford      1033549.0
Aberfeldie      1307193.0
Airport West     751364.0
Albanvale        536056.0
Albert Park     1927651.0
                  ...
Yallambie        820861.0
Yarra Glen       620000.0
Yarraville       991245.0
croydon          730000.0
viewbank         885000.0
Name: Price, Length: 351, dtype: float64